.columna{
	height: 250px;
}
.bg-transparent{
	background-color: transparent;
}
.pointer{
	cursor: pointer;
}
.navbar-fixed{
	position: fixed;
	z-index: 1;				;
}
.grayscale {
	filter: none;
	-webkit-filter: grayscale(0%);
	}
.grayscale:hover {
	filter: url("data:image/svg xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10 */
	filter: gray; /*IE6-9*/
	-webkit-filter: grayscale(100%); /*Chrome 19+ & Safari 6+*/
	-webkit-transition: all 1.5s ease; /*Fade to color for Chrome and Safari*/
	-moz-transition: all 1.5s ease;
	-webkit-backface-visibility: hidden; /*Fix for transition flickering*/
	width: 100%;
	height: 100%;
	}
.fs-20px{
	
font-size: 12px;
}
.img-banner2{
	height: 540px;
	
}
.nombre-teatro{
	position: absolute;
}
.banner-peliculas{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/cinetaller-94658.appspot.com/o/4DX02BannerPeliculas.jpg?alt=media&token=996dc42d-7e5f-4977-95ac-9d9742b4fd55");
	width: 100%;
	background-repeat: no-repeat;
	background-position: 40%;
	background-size: cover;
	height: 300px;
}
.informacion-banner-peliculas{
	position: absolute;
}
.tarjeta{
	width: 100%;
	height: 500px;
	
}
.tarjeta2{
	width: 25%;
	height: 500px;
	
}
.link{
	list-style: none;
}
.fs-DA{
font-size: 1px;
}
.iconFooter:hover{
	width: 100px;
}
.linksNavegacion:hover{
	background-color: rgb(226, 73, 73);
    height: 80px;
	line-height: 60px;
}
.img-banner-promo{
	width: 100%;
	height: 300px;
}
